
div.gallery {
  margin: 18px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 150px;
  height: 120px;
}

div.desc {
  padding: 5px;
  text-align: center;
}