body{
  background-color: white;
}

/**TOP NAV CSS */
nav{
  width: 100%;
  height: 80px;
  display: block;
  border-radius: 1px;
  background-color: #24252A;
}

.title{
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#edf0f1;
  cursor: pointer;
}

nav ul{
  float: right;
  color:#edf0f1;

}
nav ul li{
  display: inline-block;
  line-height: 50px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 100px;
  cursor: pointer;
}

li:hover{
  text-decoration: underline #24252A;
  background-color: #edf0f1;
  color: #24252A;
}

#navbreak{
  display: block;
  position: absolute;
  width: 100%;
  top: 80px; 
  

}

/**END OF TOP NAV CSS */


    
    @keyframes cf3FadeInOut {
      0% {
      opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
    }
    
    #cf3 img.one {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
    }
    
    #cf3 img{
        position:absolute;
      left:0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    #cf3 img.transparent {
    opacity:0;
    }
    .mainImage{
        width: 100%;
        height: 850px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 515px;
        left: 50%;
        overflow:hidden;
        border: 1px solid #ffffff;
        border-radius: 1px;
        box-shadow: -1px 5px 10px black;
        border-image-width: 1000px;
        
    }

    .tag_container{
      width: 700px;
      height: 150px;
      position: relative;
      opacity: 0.9;

      display: block;
      top: 300px;
    
      
    }
    .tagline{
      width: 700px;
      height: 150px;
      position: absolute;
      display: block;
      
      
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      font-size: 50px;
      color: #edf0f1;
      background-color: #24252A;
      
    }


/**FOOTER*/

#break{
  color: black;
  height: 1px;
  width: 100%;

}

.footer_container{
  position: relative;
  width: 100%;
  height: 180px;
  top: 1500px;
  background-color: #edf0f1;
  


}

.footer_list{
  position: absolute;
}

.footer_title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color:black;

  position: absolute;
  top: 5px;
  left: 40px;

}

.footer_text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px 5px 5px 30px;
  color:#24252A;

  position: absolute;
  top: 5px;
  left: 70px;
  padding: 15px 15px 15px 15px;
}

#about{
  padding-bottom: 5px;
  font-weight: 500;
}
#blog{
  padding-bottom: 5px;
  font-weight: 500;
}
#recipes{
  padding-bottom: 5px;
  font-weight: 500;
}
#contact{
  font-weight: 500;
}

#c{
  position: absolute;
  left: 79%;
  margin-top: 100px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#fb{
  position: absolute;
  margin-top: 10px;
  left: 80%;
  height: 50px;
  width: 50px;
}
#instagram{
  position: absolute;
  margin-top: 10px;
  left: 84%;
  height: 50px;
  width: 50px;
}
#pinterest{
  position: absolute;
  margin-top: 10px;
  left: 88%;
  height: 50px;
  width: 50px;
}
#twitter{
  position: absolute;
  margin-top: 10px;
  left: 92%;
  height: 50px;
  width: 50px;
}
    
/**END OF FOOTER*/

